<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-questionnaire-heading" data-cy="QuestionnaireCreateUpdateHeading">Create or edit a Questionnaire</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>


        <label class= "form-label" for="field_answer1UsedAt">Where is this used at?</label>
        <select type ="text" class = "form-control" id='field_answer1UsedAt' name='answer1UsedAt' data-cy="answer1UsedAt" formControlName="answer1UsedAt" [(ngModel)]="answer1Select">
          <option *ngFor="let item of answer1Options" [ngValue]="item.answer">
            {{item.answer}}
          </option>

        </select>

      </div>

      <div class="row mb-3">

        <label class= "form-label" for="field_answer2Type">What kind of laptop are you thinking?</label>
        <select id='field_answer2Type' name='answer2Type' formControlName="answer2Type" [(ngModel)]="answer2Select">
          <option *ngFor="let item of answer2Options" [value]="item.answer">
            {{item.answer}}
          </option>
        </select>

        <div class="row mb-3">

          <label class= "form-label" for="field_answer3Size">How big do you want it?</label>
          <select class="form-control" id='field_answer3Size' name='answer3Size' formControlName="answer3Size" [(ngModel)]="answer3Select">
            <option *ngFor="let item of answer3Options" [value]="item.size">
              {{item.size}}
            </option>
          </select>
        </div>

<!--        <div class="row mb-3">-->
<!--          <label class="form-label" for="field_answer3Size">Answer 3 Size</label>-->
<!--          <input-->
<!--            type="number"-->
<!--            class="form-control"-->
<!--            name="answer3Size"-->
<!--            id="field_answer3Size"-->
<!--            data-cy="answer3Size"-->
<!--            formControlName="answer3Size"-->
<!--          />-->
<!--        </div>-->

        <div class="row mb-3">

          <label class="form-label" for="field_answer4Function">What is it mostly used for?</label>
          <select id='field_answer4Function' name='answer4Function' formControlName="answer4Function" [(ngModel)]="answer4Select">
            <option *ngFor="let item of answer4Options" [value]="item.answer">
              {{item.answer}}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_answer5Price">What's the max you want to drop?</label>
          <input
            type="number"
            class="form-control"
            name="answer5Price"
            id="field_answer5Price"
            data-cy="answer5Price"
            formControlName="answer5Price"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_model">Model</label>
          <select class="form-control" id="field_model" data-cy="model" name="model" formControlName="model">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="laptopOption.id === editForm.get('model')!.value?.id ? editForm.get('model')!.value : laptopOption"
              *ngFor="let laptopOption of laptopsSharedCollection; trackBy: trackLaptopById"
            >
              {{ laptopOption.modelName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_assignedTo">Assigned To</label>
          <select class="form-control" id="field_assignedTo" data-cy="assignedTo" name="assignedTo" formControlName="assignedTo">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('assignedTo')!.value?.id ? editForm.get('assignedTo')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
